<h1><%= title%></h1>
<h3><%= subtitle%></h3>
<ul>
  <% for ( var 1=0;i suplies.length; i++){%>
    <li>
      <a href="suplies/<%= suplies[i]%>">
        <%= suplies[i]%>
      </a>
    </li>
    <%}%>
</ul>